<div class="red">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text center">TODOS POR IPIALES</h5>
      <p class="grey-text text-lighten-4">Ipiales es un municipio colombiano situado en el departamento de Nariño. 
        Se encuentra sobre la frontera con Ecuador; en el Nudo de los Pastos, en el altiplano andino; 
        relativamente cerca de la costa del océano Pacífico, al pie de monte amazónico y a la línea equinoccial; 
        siendo una región panamazónica.  </p>                                                                      
        <h6 class="white-text center">ELABORADO POR: JUAN SEBASTIAN DORADO - CARLOS HERNANDO FIGUEROA</h6>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Contactanos</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/juancho.dorado.37">Facebook</a></li>
        <li><a class="grey-text text-lighten-3" href="https://www.twitter.com/Carloshf95H">Twitter</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Instragram</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">info@nuestraempresa.com</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="red">
  <div class="container">
    <span class="right">© 2014 Copyright</span>
  </div>
</div>