<!--sección del menu -->
<nav class="" >
  <app-navbar></app-navbar>
</nav>
<!--slier-->
<div class="container slider">
  <app-slider></app-slider>
</div>
<!--sección del mapa -->
<div class="container">
  <app-map></app-map>
</div>
<!--Texto map -->
<div class="titulo">
  <p>
    Ipiales , Una Ciudad De Habitantes Llenos De Amor Y Respeto
      </p>
</div>
<div class="container">
  <app-content></app-content>
</div>
<!--sección del pie de página -->
<div class="page-footer teal darken-2">
  <app-footer></app-footer>
</div>