<div class="slider">
  <ul class="slides">
    <li>
      <img src="http://www.esacademic.com/pictures/eswiki/80/Panoramica_20_julio.jpg">
      <!-- random image -->
      <div class="caption left-align" >
        <h3>PLAZA </h3>
        <h5 class="red darken-4 ">20 DE JULIO.</h5>
      </div>
    </li>
    <li>
      <img src="https://i.ytimg.com/vi/QzscAyz_8TI/maxresdefault.jpg">
      <!-- random image -->
      <div class="caption center-align">
        <h3>SANTUARIO</h3>
        <h5 class="light grey-text text-lighten-3">LAS LAJAS</h5>
      </div>
    </li>
    <li>
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Panoramica_Santuario_Las_Lajas.JPG">
      <!-- random image -->
      <div class="caption left-align " >
        <h3>SANTUARIO</h3>
        <h5 class="red darken-4">LAS LAJAS</h5>
      </div>
    </li>
    <li>
      <img src="http://static.panoramio.com/photos/large/75437102.jpg">
      <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>